/* Here are example using scss */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;

  & > * {
    margin: 2rem 0;
  }
}

.header {
  h1 {
    font-size: 3.5rem;
  }
}

.example {
  display: flex;
  justify-content: center;

  &-style,
  &-lazy-load {
    margin: 3rem 2rem;
  }
}

.from-scss {
  color: #0096FF;
}

.link {
  color: #61dafb;
  font-size: 2rem;
  margin-top: 3rem;
}

#lazy-load {
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 10rem;
  outline: none;
}
