/* Here are example using scss */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 40px;
  }
}

#tes {
  background-image: url('./assets/bg-contact.png');
  background-size: cover;
  width: 300px;
  height: 200px;
  display: block;
}
